* {
  box-sizing: border-box;
}

.frame3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: var(--Solid-Soft, #f8f8f8);
  padding-top: 16px;
  width: 375px;
  height: 812px;
  overflow: hidden;

  .autoWrapper {
    position: relative;
    margin-left: 1px;
    width: 375px;
    height: 468px;

    .image2 {
      position: absolute;
      top: 0;
      left: 0;
      width: 375px;
      height: 468px;

      .ellipse8 {
        position: absolute;
        top: 76px;
        left: 39px;
        border-radius: 50%;
        background: var(--Solid-Secondary-Light, #c3e4f2);
        width: 393px;
        height: 393px;
        rotate: -79deg;
      }

      .ellipse82 {
        position: absolute;
        top: -165px;
        left: -53px;
        border-radius: 50%;
        background: var(--Transparent-Secondary-Light-50, #c3e4f280);
        width: 225px;
        height: 225px;
        rotate: -79deg;
      }

      .frame {
        position: absolute;
        top: 235px;
        left: 58px;
        width: 280px;
        height: 171px;
      }
    }

    .text3 {
      display: flex;
      position: absolute;
      bottom: -98px;
      left: 31px;
      flex-direction: column;
      align-items: center;
      width: 311px;
      height: 114px;

      .text {
        line-height: 32px;
        letter-spacing: 0;
        color: var(--Solid-Primary, #323232);
        font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 500;
      }

      .text2 {
        margin: 10px 0px 0px;
        width: 311px;
        height: 72px;
        text-align: center;
        line-height: 24px;
        letter-spacing: 0;
        color: var(--Solid-Primary, #323232);
        font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 500;
      }
    }

    .statusBarIPhone {
      display: flex;
      position: absolute;
      top: -16px;
      left: -1px;
      align-items: center;
      justify-content: center;
      column-gap: 154px;
      padding: 21px 24px 19px;
      width: 375px;
      height: 62px;

      .time2 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        padding-top: 2px;
        height: 22px;

        .time {
          flex-shrink: 0;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Labels-Primary, #000000);
          font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 17px;
          font-weight: 600;
        }
      }

      .levels {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        column-gap: 7px;
        padding-top: 1px;
        padding-right: 1px;
        height: 22px;

        .cellularConnection {
          flex-shrink: 0;
          width: 19px;
          height: 12px;
        }

        .wifi {
          flex-shrink: 0;
          width: 17px;
          height: 12px;
        }

        .frame2 {
          flex-shrink: 0;
          width: 27px;
          height: 13px;
        }
      }
    }
  }

  .indicator {
    display: inline-flex;
    align-items: flex-start;
    align-self: stretch;
    column-gap: 12px;
    margin: 150px 145px 0px 146px;

    .rectangle2 {
      flex-shrink: 0;
      border-radius: 23px;
      background: var(--Transparent-Dark-10, #3232321a);
      width: 13px;
      height: 13px;
    }

    .rectangle1 {
      flex-shrink: 0;
      border-radius: 23px;
      background: var(--Solid-Secondary-Light, #c3e4f2);
      width: 35px;
      height: 13px;
    }
  }

  .button2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin: 31px 48px 0px;

    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      border-radius: 16px;
      background: var(--Solid-Primary, #323232);
      padding: 10px;
      width: 279px;
      height: 56px;

      .text4 {
        flex-shrink: 0;
        line-height: 21px;
        letter-spacing: 0;
        color: var(--Solid-White, #ffffff);
        font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 500;
      }
    }

    .text5 {
      margin: 20px 0px 0px;
      line-height: 21px;
      letter-spacing: 0;
      color: var(--Solid-Secondary, #2d81ff);
      font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 15px;
      font-weight: 500;
    }
  }

  .homeIndicator2 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 3px;
    padding: 21px 115px 8px 116px;

    .homeIndicator {
      border-radius: 100px;
      background: var(--Labels-Primary, #000000);
      width: 144px;
      height: 5px;
      rotate: -180deg;
    }
  }
}
