* {
  box-sizing: border-box;
}

.levels {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 7px;
  padding-top: 1px;
  padding-right: 1px;
  width: 87px;
  height: 22px;

  .cellularConnection {
    flex-shrink: 0;
    width: 19px;
    height: 12px;
  }

  .wifi {
    flex-shrink: 0;
    width: 17px;
    height: 12px;
  }

  .frame {
    flex-shrink: 0;
    width: 27px;
    height: 13px;
  }
}
