* {
  box-sizing: border-box;
}

.frame2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--Solid-Soft, #f8f8f8);
  width: 375px;
  height: 812px;
  overflow: hidden;

  .header {
    position: relative;
    width: 375px;
    height: 92px;

    .leftIcon {
      display: flex;
      position: absolute;
      top: 54px;
      left: 24px;
      align-items: center;
      padding-right: 12px;
      width: 44px;
      height: 32px;

      .back {
        width: 32px;
        height: 32px;
        overflow: hidden;
      }
    }

    .myPets {
      display: flex;
      position: absolute;
      top: 51px;
      left: 73px;
      align-items: center;
      justify-content: center;
      width: 229px;
      height: 39px;
      line-height: 27px;
      letter-spacing: 0;
      color: var(--Solid-Primary, #323232);
      font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 500;
    }

    .statusBarIPhone {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      align-items: center;
      justify-content: center;
      column-gap: 154px;
      padding: 21px 24px 19px;
      width: 375px;
      height: 62px;

      .time2 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        padding-top: 2px;
        height: 22px;

        .time {
          flex-shrink: 0;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Labels-Primary, #000000);
          font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 17px;
          font-weight: 600;
        }
      }

      .levels {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        column-gap: 7px;
        padding-top: 1px;
        padding-right: 1px;
        height: 22px;

        .cellularConnection {
          flex-shrink: 0;
          width: 19px;
          height: 12px;
        }

        .wifi {
          flex-shrink: 0;
          width: 17px;
          height: 12px;
        }

        .frame {
          flex-shrink: 0;
          width: 27px;
          height: 13px;
        }
      }
    }
  }

  .iconBox {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    margin: 16px 124px 0px;
    border-radius: 50%;
    padding: 96px 1px 1px 96px;
    background-image: url(../image/mk58lssv-oxtrd5k.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .ellipse {
      display: flex;
      flex-grow: 1;
      align-items: center;
      outline-width: 3px;
      outline-style: solid;
      outline-color: var(--Solid-Soft, #f8f8f8);
      border-radius: 50%;
      box-shadow: 0px 12px 23px 0px #0000000d;
      background: var(--Solid-White, #ffffff);
      padding: 7px;

      .plus {
        width: 17px;
        height: 17px;
      }
    }
  }

  .inputs {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin: 28px 24px 0px;
    row-gap: 20px;

    .input {
      flex-shrink: 0;
      line-height: 21px;
      letter-spacing: 0;
      color: var(--Solid-Primary, #323232);
      font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 15px;
      font-weight: 500;
    }

    .label {
      flex-shrink: 0;
      line-height: 16px;
      letter-spacing: 0;
      color: var(--Solid-Gray, #8e8e8e);
      font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 11px;
    }

    .frame15 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      border-radius: 16px;
      box-shadow: var(--Box-Shadow, 0px 16px 32px 0px #0000000d);
      background: var(--Solid-White, #ffffff);
      padding: 10px 16px 10px 24px;
      width: 327px;
    }

    .input2 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      border-radius: 16px;
      box-shadow: var(--Box-Shadow, 0px 16px 32px 0px #0000000d);
      background: var(--Solid-White, #ffffff);
      padding: 10px 16px 10px 24px;
      min-width: 327px;

      .frame152 {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
      }

      .right {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        overflow: hidden;
      }
    }
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin-top: 92px;
    border-radius: 16px;
    background: var(--Solid-Primary, #323232);
    padding: 10px;
    width: 279px;
    height: 56px;

    .label2 {
      flex-shrink: 0;
      line-height: 21px;
      letter-spacing: 0;
      color: var(--Solid-White, #ffffff);
      font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 15px;
      font-weight: 500;
    }
  }

  .homeIndicator2 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 6px;
    padding: 21px 115px 8px 116px;

    .homeIndicator {
      border-radius: 100px;
      background: var(--Labels-Primary, #000000);
      width: 144px;
      height: 5px;
      rotate: -180deg;
    }
  }
}
