* {
  box-sizing: border-box;
}

.frame2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: var(--Solid-Soft, #f8f8f8);
  width: 375px;
  height: 812px;
  overflow-y: auto;

  .search {
    width: 24px;
    height: 24px;
  }

  .autoWrapper {
    position: relative;
    width: 375px;
    height: 62px;

    .header {
      display: flex;
      position: absolute;
      bottom: -27px;
      left: 24px;
      align-items: center;
      justify-content: space-between;
      width: 327px;
      height: 44px;

      .text {
        line-height: 32px;
        letter-spacing: 0;
        color: var(--Solid-Primary, #323232);
        font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 500;
      }

      .ellipse {
        display: flex;
        align-items: center;
        border: 1px solid var(--Transparent-Dark-30, #3232324d);
        border-radius: 50%;
        padding: 9px;
      }
    }

    .statusBarIPhone {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      align-items: center;
      justify-content: center;
      column-gap: 154px;
      padding: 21px 24px 19px;
      width: 375px;
      height: 62px;

      .time2 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        padding-top: 2px;
        height: 22px;

        .time {
          flex-shrink: 0;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Labels-Primary, #000000);
          font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 17px;
          font-weight: 600;
        }
      }

      .levels {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        column-gap: 7px;
        padding-top: 1px;
        padding-right: 1px;
        height: 22px;

        .cellularConnection {
          flex-shrink: 0;
          width: 19px;
          height: 12px;
        }

        .wifi {
          flex-shrink: 0;
          width: 17px;
          height: 12px;
        }

        .frame {
          flex-shrink: 0;
          width: 27px;
          height: 13px;
        }
      }
    }
  }

  .background {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin: 30px 24px 0px;
    padding: 39px 160px 24px 24px;
    background-image: url(../image/mk544052-4d9wv57.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .text2 {
      line-height: 27px;
      letter-spacing: 0;
      color: var(--Solid-Primary, #323232);
      font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 500;
    }

    .text3 {
      margin: 2px 0px 0px;
      width: 143px;
      line-height: 18px;
      letter-spacing: 0;
      color: var(--Transparent-Dark-60, #32323299);
      font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 13px;
    }

    .button {
      display: inline-flex;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      margin-top: 15px;
      margin-right: 51px;
      border-radius: 10px;
      background: var(--Solid-Primary, #323232);
      padding: 5px 20px 7px;
      height: 32px;

      .label {
        flex-shrink: 0;
        line-height: 18px;
        letter-spacing: 0;
        color: var(--Solid-White, #ffffff);
        font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 13px;
      }
    }
  }

  .text4 {
    margin: 24px 0px 0px 24px;
    line-height: 18px;
    letter-spacing: 0;
    color: var(--Transparent-Dark-60, #32323299);
    font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 13px;
  }

  .myPets {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    margin: 13px 70px 0px 24px;
    min-width: 281px;
    height: 62px;

    .petImage {
      width: 56px;
      height: 56px;
    }

    .ellipse2 {
      display: flex;
      align-items: center;
      border: 1px solid var(--Solid-Primary, #323232);
      border-radius: 50%;
      padding: 15px;
    }

    .ellipse3 {
      display: flex;
      align-items: center;
      outline-width: 2px;
      outline-style: solid;
      outline-color: var(--Solid-Secondary, #2d81ff);
      border-radius: 50%;
      padding: 3px;
    }

    .petImage2 {
      display: flex;
      align-items: center;
      padding: 3px;
    }
  }

  .autoWrapper4 {
    position: relative;
    margin-top: 22px;
    margin-left: 24px;
    width: 355px;
    height: 852px;

    .cardRows {
      display: inline-flex;
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      align-items: flex-start;
      width: 355px;
      height: 852px;
      row-gap: 32px;

      .text6 {
        flex-shrink: 0;
        line-height: 21px;
        letter-spacing: 0;
        color: var(--Solid-Secondary, #2d81ff);
        font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 15px;
      }

      .text5 {
        flex-shrink: 0;
        line-height: 27px;
        letter-spacing: 0;
        color: var(--Solid-Primary, #323232);
        font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 500;
      }

      .petShop {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        margin-right: 4px;
        row-gap: 16px;

        .title {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          margin-right: 24px;
          min-width: 327px;
        }

        .cards2 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          width: 351px;
          height: 210px;
          overflow-x: auto;

          .cards {
            display: inline-flex;
            flex-grow: 1;
            align-items: flex-start;
            column-gap: 16px;
            margin-right: -131px;

            .a2900 {
              flex-shrink: 0;
              line-height: 18px;
              letter-spacing: 0;
              color: var(--Solid-Primary, #323232);
              font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 13px;
              font-weight: 500;
            }

            .text7 {
              flex-shrink: 0;
              width: 130px;
              line-height: 18px;
              letter-spacing: 0;
              color: var(--Solid-Primary, #323232);
              font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 13px;
            }

            .image1 {
              flex-shrink: 0;
              width: 102px;
              height: 102px;
            }

            .ellipse4 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              border-radius: 50%;
              background: var(--Solid-Secondary, #2d81ff);
              padding: 5px;

              .plus {
                width: 13px;
                height: 13px;
              }
            }

            .shopCard {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              height: 210px;

              .card2 {
                display: flex;
                position: relative;
                flex-direction: column;
                flex-grow: 1;
                align-items: center;
                border-radius: 8px;
                box-shadow: var(--Box-Shadow, 0px 16px 32px 0px #0000000d);
                background: #ffffff;
                padding: 16px 10px;
                row-gap: 10px;

                .bottom {
                  display: flex;
                  flex-shrink: 0;
                  align-items: center;
                  align-self: stretch;
                  justify-content: space-between;
                  min-width: 130px;

                  .price {
                    display: inline-flex;
                    flex-shrink: 0;
                    align-items: center;
                    column-gap: 5px;

                    .a3400 {
                      flex-shrink: 0;
                      width: 40px;
                      height: 12px;
                      line-height: 13px;
                      letter-spacing: 0;
                      color: var(--Solid-Gray, #8e8e8e);
                      font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                      font-size: 9px;
                    }
                  }
                }

                .saleInfo {
                  display: inline-flex;
                  position: absolute;
                  top: 103px;
                  left: 10px;
                  flex-shrink: 0;
                  align-items: center;
                  justify-content: center;
                  column-gap: 10px;
                  border-radius: 24px;
                  background: var(--Solid-Quaternary, #dfd4fb);
                  padding: 4px 10px;
                  width: 68px;
                  height: 24px;

                  .text8 {
                    flex-shrink: 0;
                    line-height: 16px;
                    letter-spacing: 0;
                    color: #000000;
                    font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 11px;
                    font-weight: 500;
                  }
                }
              }
            }

            .shopCard2 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              height: 210px;

              .card1 {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                align-items: center;
                border-radius: 8px;
                box-shadow: var(--Box-Shadow, 0px 16px 32px 0px #0000000d);
                background: #ffffff;
                padding: 16px 10px;
                row-gap: 10px;

                .bottom2 {
                  display: flex;
                  flex-shrink: 0;
                  align-items: center;
                  align-self: stretch;
                  justify-content: space-between;
                  min-width: 130px;
                }
              }
            }
          }
        }
      }

      .vets {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        margin-right: 3px;
        row-gap: 16px;

        .title2 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          margin-right: 25px;
          min-width: 327px;
        }

        .cards4 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          width: 352px;
          height: 180px;
          overflow-x: auto;

          .cards3 {
            display: inline-flex;
            flex-grow: 1;
            align-items: flex-start;
            column-gap: 16px;
            margin-right: -130px;

            .vet {
              position: relative;
              flex-shrink: 0;
              width: 150px;
              height: 180px;

              .image {
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 8px;
                width: 150px;
                height: 180px;
              }

              .nameStars {
                display: flex;
                position: absolute;
                top: 59px;
                left: 0;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-end;
                border-radius: 0px 0px 8px 8px;
                padding-bottom: 11px;
                padding-left: 14px;
                width: 150px;
                height: 121px;
                row-gap: 4px;
                background-image: linear-gradient(
                  180deg,
                  #32323200 0%,
                  #32323299 100%
                );

                .text9 {
                  flex-shrink: 0;
                  line-height: 18px;
                  letter-spacing: 0;
                  color: var(--Solid-White, #ffffff);
                  font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 13px;
                  font-weight: 500;
                }

                .stars {
                  flex-shrink: 0;
                  width: 86px;
                  height: 14px;
                }
              }
            }
          }
        }
      }

      .vets2 {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 16px;

        .title3 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          margin-right: 28px;
          min-width: 327px;
        }

        .cards6 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          width: 355px;
          height: 152px;
          overflow-x: auto;

          .cards5 {
            display: inline-flex;
            flex-grow: 1;
            align-items: flex-start;
            column-gap: 16px;
            margin-right: -247px;

            .iconBox {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              border-radius: 8px;
              box-shadow: var(--Box-Shadow, 0px 16px 32px 0px #0000000d);
              background: var(--Solid-White, #ffffff);
              padding: 63px 10px;

              .plus2 {
                width: 24px;
                height: 26px;
              }
            }

            .reminder {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              align-items: flex-start;
              border-radius: 8px;
              box-shadow: var(--Box-Shadow, 0px 16px 32px 0px #0000000d);
              background: var(--Solid-White, #ffffff);
              padding: 16px;
              row-gap: 16px;

              .top {
                display: flex;
                flex-shrink: 0;
                align-items: flex-start;
                align-self: stretch;
                column-gap: 7px;

                .color {
                  display: inline-flex;
                  flex-shrink: 0;
                  align-items: center;
                  align-self: stretch;
                  justify-content: center;
                  column-gap: 10px;
                  padding-right: 6px;
                  padding-left: 6px;

                  .autoWrapper2 {
                    position: relative;
                    flex-shrink: 0;
                    width: 4px;
                    height: 59px;

                    .rectangle {
                      position: absolute;
                      top: 1px;
                      left: 1px;
                      border-radius: 16px;
                      background: var(--Solid-Secondary-Light, #c3e4f2);
                      width: 4px;
                      height: 59px;
                      rotate: -180deg;
                    }
                  }
                }

                .text12 {
                  display: inline-flex;
                  flex-direction: column;
                  flex-shrink: 0;
                  align-items: flex-start;
                  align-self: stretch;
                  row-gap: 4px;

                  .text10 {
                    flex-shrink: 0;
                    padding: 8px 0px 0px;
                    line-height: 21px;
                    letter-spacing: 0;
                    color: var(--Solid-Primary, #323232);
                    font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 15px;
                    font-weight: 500;
                  }

                  .text11 {
                    flex-shrink: 0;
                    padding: 0px 0px 8px;
                    line-height: 18px;
                    letter-spacing: 0;
                    color: var(--Solid-Gray, #8e8e8e);
                    font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 13px;
                  }
                }
              }

              .time3 {
                display: flex;
                flex-shrink: 0;
                align-items: flex-end;
                align-self: stretch;
                justify-content: space-between;

                .frame19 {
                  display: inline-flex;
                  flex-shrink: 0;
                  align-items: center;
                  column-gap: 6px;

                  .clock {
                    flex-shrink: 0;
                    width: 16px;
                    height: 16px;
                    overflow: hidden;
                  }

                  .a02200250 {
                    flex-shrink: 0;
                    width: 86px;
                    line-height: 18px;
                    letter-spacing: 0;
                    color: var(--Solid-Primary, #323232);
                    font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                    font-size: 13px;
                  }
                }

                .navBarIcon {
                  flex-shrink: 0;
                  width: 24px;
                  height: 24px;
                }
              }
            }
          }
        }
      }
    }

    .background2 {
      display: flex;
      position: absolute;
      top: 326px;
      left: -24px;
      flex-direction: column;
      align-items: center;
      background: var(--Solid-White, #ffffff);
      width: 375px;
      height: 80px;

      .vector {
        background: #32323214;
        width: 375px;
        height: 1px;
      }

      .autoWrapper3 {
        display: flex;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        margin-top: 15px;
        padding-right: 48px;
        padding-left: 0;
      }

      .homeIndicator2 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 6px;
        padding: 21px 115px 8px 116px;

        .homeIndicator {
          border-radius: 100px;
          background: var(--Labels-Primary, #000000);
          width: 144px;
          height: 5px;
          rotate: -180deg;
        }
      }
    }
  }
}
