* {
  box-sizing: border-box;
}

.frame2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #f5f5f5;
  padding-left: 2px;
  width: 375px;
  height: 812px;
  overflow: hidden;

  .statusBarIPhone {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 154px;
    padding: 21px 24px 19px;
    width: 375px;

    .time2 {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      padding-top: 2px;
      height: 22px;

      .time {
        flex-shrink: 0;
        line-height: 22px;
        letter-spacing: 0;
        color: var(--Labels-Primary, #000000);
        font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 17px;
        font-weight: 600;
      }
    }

    .levels {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      column-gap: 7px;
      padding-top: 1px;
      padding-right: 1px;
      height: 22px;

      .cellularConnection {
        flex-shrink: 0;
        width: 19px;
        height: 12px;
      }

      .wifi {
        flex-shrink: 0;
        width: 17px;
        height: 12px;
      }

      .frame {
        flex-shrink: 0;
        width: 27px;
        height: 13px;
      }
    }
  }

  .group10 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin: 111px 91px 0px 89px;

    .ellipse8 {
      border-radius: 50%;
      width: 193px;
      height: 192px;
    }

    .text3 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin: 42px 5px 0px 9px;

      .text {
        margin: 0px 0px 0px 23px;
        line-height: 32px;
        letter-spacing: 0;
        color: var(--Solid-Primary, #323232);
        font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 500;
      }

      .text2 {
        margin: 10px 0px 0px;
        width: 179px;
        height: 48px;
        text-align: center;
        line-height: 24px;
        letter-spacing: 0;
        color: var(--Solid-Primary, #323232);
        font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin-top: 176px;
    margin-left: 46px;
    border-radius: 16px;
    background: var(--Solid-Primary, #323232);
    padding: 10px;
    width: 279px;
    height: 56px;

    .label {
      flex-shrink: 0;
      line-height: 21px;
      letter-spacing: 0;
      color: var(--Solid-White, #ffffff);
      font-family: "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 15px;
      font-weight: 500;
    }
  }

  .homeIndicator2 {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 48px;
    margin-right: -2px;
    padding: 21px 115px 8px 116px;

    .homeIndicator {
      border-radius: 100px;
      background: var(--Labels-Primary, #000000);
      width: 144px;
      height: 5px;
      rotate: -180deg;
    }
  }
}
